:root {
  --main-color: white;
  --font-size: 16px;
  --header-color: black;
}
.imgHeader {
  margin-left: 40px;
}
header {
  background-color: var(--header-color);
  padding: 10px;
  color: var(--main-color);
}
.navBar {
  display: flex;
  flex-direction: row;
  gap: 2em;
}
li {
  list-style: none;
}
footer {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
}
li {
  color: var(--main-color);
  gap: 1em;
}
li:hover {
  color: orange;
  cursor: context-menu;
}
a {
  color: white;
  font-size: 2em;
  margin: 10px;
}
a:hover {
  color: orange;
}
@media (max-width: 768px) {
  .headercontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .headercontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
